
body, html {
    height: 100%;
    margin: 0;
  }

.first{
background-color: blue;
position: fixed;
height: 50px;
width: 100%;
}
img{
    width: 30px;
    height: 30px;
    padding: 30px;
}


.second{
    background-image: url("car.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    height: 800px;
}
.third{
    text-align: center;
    color: gray;

}
