*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.main{
    width: 860px;
    margin: 0 auto;
}
.main ul{
    list-style: none;
    margin-top: 2%;
}
.main ul li{
background: gray;
width: 170px;
border: 1px solid #fff;
height: 50px;
text-align: center;
float: left;
color: #fff;
font-size: 14px;
position: relative;
}
.main ul li:hover{
    background: crimson;
}
.main ul ul{
    display: none;

}
.main ul li:hover > ul{
    display: block;
    
}